DOCKERHUB_USERNAME=lumennestle
APP_VERSION=latest
POSTGRES_USER=nestle
POSTGRES_PASSWORD=change_me
POSTGRES_DB=nestle_newsletter
POSTGRES_PORT=5433
FRONTEND_PORT=5173
CLIENT_ID=change_me
CLIENT_SECRET=change_me
