DOCKERHUB_USERNAME=lumennestle
APP_VERSION=latest

POSTGRES_USER=nestle
POSTGRES_PASSWORD=change_me
POSTGRES_DB=nestle_ai_newsletter_db
POSTGRES_PORT=5433

FRONTEND_PORT=5173

MINIO_ROOT_USER=change_me_minio_user
MINIO_ROOT_PASSWORD=change_me_minio_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

S3_REGION=us-east-1
S3_BUCKET=nestle-assets
S3_FORCE_PATH_STYLE=true

AI_PROVIDER=gemini
GEMINI_API_KEY=change_me
GEMINI_MODEL=gemini-2.5-flash-lite
NESTLE_GENIA_URL=https://example.local/genai
NESTLE_GENIA_MODEL=gemini-2.5-pro
CLIENT_ID=change_me
CLIENT_SECRET=change_me