DOCKERHUB_USERNAME=lumennestle
APP_VERSION=latest

POSTGRES_USER=nestle
POSTGRES_PASSWORD=change_me
POSTGRES_DB=nestle_ai_newsletter_db
POSTGRES_PORT=5433

FRONTEND_PORT=5173

MINIO_ROOT_USER=change_me_minio_user
MINIO_ROOT_PASSWORD=change_me_minio_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

S3_ENDPOINT=http://minio:9000
S3_REGION=us-east-1
S3_FORCE_PATH_STYLE=true
S3_ASSETS_BUCKET=nestle-ai-newsletter-assets
S3_FONTS_BUCKET=nestle-ai-newsletter-fonts
S3_EXPORTS_BUCKET=nestle-ai-newsletter-exports

NESTLE_GENIA_URL=https://eur-sdr-int-pub.nestle.com/api/dv-exp-sandbox-openai-api/1/genai/GCP/gemini-2.0-flash-001/generateContent
NESTLE_GENIA_MODEL=gemini-2.0-flash-001
CLIENT_ID=change_me
CLIENT_SECRET=change_me
